
body {
    font-family: sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #ddd;
}

a, a:visited {
    color: #79bed9;
    text-decoration: none;
}

/*
 * ===========================================================================
 * HEADER
 * ===========================================================================
 */

.logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 180px;

    background-image: url("images/banner.jpg") ;
    background-color: #000;
    background-size: cover;

    border-bottom: 1px solid #444;
    z-index: -1;
}

.rss-icon {
    width: 16px;
    height: 16px;
}

.header-nav-left  { margin-top: 10px; float: left;  }
.header-nav-right { margin-top: 10px; float: right; }

.header-nav-left a, .header-nav-right a {
    margin: 5px;
    padding: 2px 5px 2px 5px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    opacity: 0.8;
    transition: opacity 0.2s;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #000;
}

.header-nav-left a:hover, .header-nav-right a:hover {
    opacity: 1;
}

.header {
    margin: 0 auto;
    padding: 1px;
    color: #fff;
    text-align: center;
    height: 180px;
    background: transparent;
}

.header-title {
    font-size: 44px;
    padding-top: 70px;
    padding-bottom: 15px;
}

.header-title a {
    color: #fff;
}

.header-subtitle {
    font-size: 18px;
}

/*
 * ===========================================================================
 * FOOTER
 * ===========================================================================
 */

.footer {
    margin: 20px auto;
    padding: 1px;
}

.footer .post-links {
    display: grid;
    grid-template-columns: 49% 2% 49%;
}

.footer .page-links {
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

.footer .nav-link {
    font-size: 14px;
    margin: 5px;
    line-height: 1.2em;
}

.footer .nav-link-separator {
    background-color: #000;
    border: 1px solid #666;
    border-radius: 5px;
}

.footer .nav-link-page-num {
    text-align: center;
}

.footer .nav-link-left  { text-align: right; }
.footer .nav-link-right { text-align: left;  }

.footer .nav-link-prev { text-align: right; }
.footer .nav-link-next { text-align: left; }

.footer .copyright {
    color: #ccc;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

/*
 * ===========================================================================
 * CONTENT
 * ===========================================================================
 */

.content {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 15px;
    justify-content: stretch;
}

.content-left {
    margin: 0;
    padding: 0;
}

.content-right {
    margin: 0;
    padding: 0;
}

/*
 * ===========================================================================
 * RIGHT COLUMN
 * ===========================================================================
 */

.tag-list {
    width: 200px;
    margin: 40px 0 20px 0;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 0 -1px 4px #444 inset;
    font-size: 16px;
}

.tag-list .title {
    margin: 10px 15px 5px 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.tag-list .tags {
    margin: 5px 15px 10px 15px;
    font-size: 14px;
    line-height: 1.5em;
}

.month-list {
    width: 200px;
    margin: 20px 0;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 0 -1px 4px #444 inset;
    font-size: 16px;
}

.month-list .title {
    margin: 10px 15px 5px 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.month-list .months {
    margin: 5px 15px 10px 15px;
    font-size: 14px;
    line-height: 1.5em;
}

/*
 * ===========================================================================
 * TAG
 * ===========================================================================
 */

.tag-archive-header {
    margin: 40px auto 10px auto;
    padding: 5px 25px 5px 25px;
    background-color: #1a1a1a;
    border: 1px solid #1a1a1a;
    border-radius: 10px;
}

/*
 * ===========================================================================
 * ARCHIVE
 * ===========================================================================
 */

.post-archive {
    margin: 10px 0 10px 0;
    padding: 5px 25px 5px 25px;
    background-color: #111;
    border: 1px solid #444;
    border-radius: 10px;
}

.post-archive:first-child {
    margin-top: 40px;
}

.post-archive .post-title {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

.post-archive .post-date {
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
}

.post-archive .post-title a {
    color: #ddd;
}

.post-archive .post-date a {
    color: #aaa;
}

/*
 * ===========================================================================
 * POST
 * ===========================================================================
 */

.post {
    margin: 40px 0 20px 0;
    min-height: 600px;
    padding: 5px 25px 5px 25px;
    background-color: #111;
    border: 1px solid #444;
    border-radius: 8px;
}

.post .post-title {
    margin-bottom: 3px;
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
}

.post .post-title a {
    color: #ddd;
    line-height: 1.1em;
}

.post .post-date {
    font-family: monospace;
    font-weight: bold;
    color: #aaa;
    margin-top: 3px;
}

.post-content {
}

.post-content a:hover {
    text-decoration: underline;
}

.post-content .header-1 {
    margin-top: 28px;
    font-size: 26px;
    font-weight: bold;
}

.post-content .header-2 {
    margin-top: 28px;
    font-size: 22px;
    font-weight: bold;
}

.post-content .image {
    display: block;
    text-align: center;
}

.post-content .image-caption {
    display: block;
    color: #999;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.3em;
}

.post-content .image img {
    margin-top: 15px;
    max-width: 90%;
    height: auto;
}

.post-content code {
    /*display: inline-block;*/
    font-family: monospace;
    text-shadow: #aaa 1px 0;
    background-color: #333;
    padding: 2px 5px 0 5px;
    border: 1px solid #222;
    border-radius: 8px;
}

.post-content .multiline-code-header {
    font-family: monospace;
    background-color: #333;
    color: #aaa;
    padding: 1px 6px 1px 6px;
}

.post-content .multiline-code-wrapper {
    max-width: 85vw;
    overflow: auto;
    max-height: 400px;
    background-color: #222;
}

.post-content .multiline-code {
    font-size: 16px;
    padding: 1px 6px 1px 6px;
    margin: 0;
}

.post-content .multiline-code pre {
    margin: 0;
    padding: 0;
}

.post-content .table-wrapper {
    position: relative;
    overflow: auto;
    max-width: 85vw;
}

.post-content table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.post-content th {
    padding: 3px 10px;
}

.post-content td {
    border: 1px solid #333;
    padding: 3px 10px;
}

.post .post-tags {
    margin: 7px 0;
    padding: 7px 0 0 0;
    border-top: 1px solid #333;
}

.post .post-tags a {
    font-size: 14px;
    color: #aaa;
    margin-right: 10px;
}

.post .post-tags a:hover {
    color: #fff;
}

/*
 * ===========================================================================
 * PAGE SIZE
 * ===========================================================================
 */

@media only screen and (min-width: 1120px) {
    body { font-size: 18px; }
    .content { max-width: 1100px; }
    .content-left { max-width: 900px; }
    .content-right { max-width: 200px; }
    .header { max-width: 1100px; }
    .footer { max-width: 1100px; }
}

@media only screen and (max-width: 1119px) {
    body {
        font-size: 16px;
    }
    .content-right {
        display: none;
    }
    .content {
        grid-template-columns: auto;
        grid-gap: 0;
    }
}
